.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImg{
    background-image: url('./assets/Union.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header h1{
    font: 600 24px Poppins;
    // text-align: left;
    color: #232134;
    margin-left: 12px;
    margin-right: 280px;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.nav p{
    font: 400 16px Inter;
    text-align: left;
    color: #232134;

}

.nav p:hover{
    color: #5E96FC;

}